<div class="container">
	<h1>Log In</h1>
	<div>
		<%= form_for :user, url: sessions_path do |f| %>
		<%= f.email_field :email, placeholder: "Email" %><br>
		<%= f.submit "Log In" %>
		<% end %>
	</div>
</div>
